body{
    margin: 0;
    padding: 0;
    
}
.logo-counteiner{
    max-width: 1550px;
    justify-content: space-between;
    align-items: center;    
    
    
}
.col{
    display: flex;
}
.img{
    margin-left: 85px;
    margin-top: 10px;
}
    
.logo{
    border-radius: 100px;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    margin-right: 10px;
    display: flex;
    
}
.click{
    border-radius: 100px;
    width: 41px;
    height: 41px;  
    margin-left: 50px;
    display: flex;
    
}
.row{

    background: url("https://bmw.scene7.com/is/image/BMW/UC_KV:2to1?fmt=webp&wid=1504&hei=750");
    height: 700px;

}
.mains{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-top: 30px;
    gap: 3rem;
}
.main:hover{
    margin-top: 10px;
    transition: 1s;
}
a{
    color: white;
    text-decoration: none;
}

.zero{
    margin-top: 30px;
    margin-left: 300px;
}
.one{
    border-radius: 20px ;
    width: 20px;
}
.one :hover{
    color: red;
}
.two{
    border-radius: 20px ;
    width: 20px;
}
.two :hover{
    border-radius: 20px ;
    width: 20px;
}
.three{
    border-radius: 20px ;
    width: 20px;
}
.three :hover{
    border-radius: 20px ;
    width: 20px;
}
.four{
    border-radius: 20px ;
    width: 20px;
}
.four :hover{
    border-radius: 20px ;
    width: 20px;
}
.line{
    width: 90%;
    height: 0.2px;
    display: flex;
}
.icon_container{
    gap: 1rem;
    color: white;
    display: flex;
    margin-top: 30px;
    margin-left: 400px;
    justify-content: space-between;

}
